.app-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #4338ca;
}

.register-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
  gap: 1rem; 
}

.register-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem; 
  width: 300px; 
}

.register-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Make inputs consistent width */
.register-form input {
  flex: 1;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.buy-container {
  padding: 2rem;
  text-align: center;
}

.Product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 1.5rem; 
  margin-top: 1.5rem;
}

.product-card {
  background: #ffffff;
  border-radius: 16px;
  width: 220px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  text-align: left;

  overflow: hidden;
  word-wrap: break-word;     
  word-break: break-all;     
  text-overflow: ellipsis; 
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
  cursor: pointer;
}
